{% extends "layout.html" %}
{% block content %}
<div id="wrap" >
    <div class="row">

        <div class="span8 offset2 ">
            <br><br>
            <h1>e.ndpoint.com</h1>
            <p class="lead">specific information...</p>
            <hr>
        </div>
        <div class="span2 visible-desktop ">
            <br><br>
            <img src="/img/logotry-green.png" style="width: 100px;">
        </div>
    </div>

    <div class="row">
        <br>
        <div class="span10 offset2 ">
            <form class="form-inline">
                <span style="font-size: 2em; height: 2em; margin-right: 36px">= </span>
                <input class="input-xxlarge" style="font-size: 2em; height: 2em; margin-right: 36px" type="text" value="http://e.ndpoint.com/mocks/{{base62}}" readonly>
            </form>
            <br>
            <hr>
        </div>

    </div>
    <div class="row">
        <br>
        <div class="span10 offset2 ">

            <div style="font-size: 1.3em; margin-right: 36px; font-weight: 200; line-height: 3.7em">
                Your <strong class="well">GET</strong> request will respond with <strong class="well"> {{getResponse.contentType}}</strong>
                and a status code of <strong class="well">{{getResponse.statusCode}}</strong> .


            </div>
        </div>
    </div>

</div>


{% endblock %}
