{% extends "layout.html" %}
{% block content %}
<div id="wrap" >
    <div class="row">

        <div class="span8 offset2 ">
            <br><br>
            <h1>e.ndpoint.com</h1>

            <p class="lead">A simple way to mock-up endpoints.</p>

            <hr>
        </div>
        <div class="span2 visible-desktop ">
            <br><br>
            <img src="/img/logotry-green.png" style="width: 100px;">
        </div>

    </div>

    <section id="">

        Jello {{ contentType }}
    </section>



</div>




{% endblock %}
